/* Здесь будет находиться стилизация CV */
* { /*background-color сюда не прописывать! Писать его в body*/
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /*плавная прокрутка сайта при клике на ссылки-якоря*/
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*указывает, что все элементы размещаются на максимальном расстоянии друг от друга, крайние прижаты к границам родителя.*/
    background-color: rgb(183, 184, 183);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    
}

.container {
    min-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}

.header {
    background-color: rgb(66, 124, 102);
    display: block;
}

.main {
    padding: 20px;
}

.nav-list {  /*делаем навигацию в одну строку*/
    display: flex;
    justify-content: flex-end; /*чтобы навигация была справа*/
    align-items: center; 
    list-style: none; /*убираем точки*/
}

.nav-link {
    padding: 0 20px; /*добавляем отступы между эл-ми списка*/
    line-height: 50px; /*добавляем отступы между эл-ми списка*/
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    transition: .3s; /*Чтобы свойства менялись плавно*/
  }


.nav-list :hover { /*свойства элемента при наведении*/
    /* color: rgb(122, 17, 221); */
    cursor: pointer;
    transform: scale(1.3);
    transition: underline .3s;
    color: rgb(247, 247, 247);
}

a {
    text-decoration: none;
    color: #4d2323;
    margin: 0;
    padding: 0;
}

.list-link :hover {
    color: #cf152e;
    transition: .3s;
}

.list-link {
    text-decoration: none;
    list-style: none;
    padding: auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    padding: 10px;
    width: 50%;
}

#img {
    border-radius: 50%;
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(13, 145, 138);
    list-style: square;
    position: relative;
    padding-left: 30px;
}

.section-item span {
    color: rgb(66, 124, 102);
}

.footer-container {
    background-color: rgb(66, 124, 102);
    display: flex;
    justify-content: space-evenly;
    background-repeat: repeat;
    background-size: contain;
}

.rss {
    width: 200px;
    height: 50px;
    background-image: url(https:://rs.school/images/rs_school_js.svg);
    background-repeat: no-repeat;
}

/*Adaptive*/

@media (max-width: 768px) { /*при уменьшении ширины экрана до 768px, секция будет занимать всю ширину*/
    .section {
      width: 100%;
    }

  }

@media (max-width: 1440px) {
    .container {
      padding: 0 20px;
      width: 100%;
      text-align: left;
      display: block;
    }
    .nav-list {
        justify-content: start;
        
    }
  }

@media (max-width: 410px) {
    .main-title {
      font-size: 24px;
      letter-spacing: 4px;
    }  
  }

