/* Здесь будет находиться стилизация CV */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*указывает, что все элементы размещаются на максимальном расстоянии друг от друга, крайние прижаты к границам родителя.*/
}

.header {
    border: 1px solid red;
}

.main {
    border: 1px solid blue;
}

.footer {
    border: 1px solid green;
}

.container {
    min-width: 1440px;
    margin: 0 auto;
}

.nav-list {  /*делаем навигацию в одну строку*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none; /*убираем стандыртные маркеры*/
}

.nav-link {
    padding: 0 20px; /*добавляем отступы между эл-ми списка*/
    line-height: 50px; /*добавляем отступы между эл-ми списка*/
    text-decoration: none;
    color: teal;
    font-size: 20px;
    transition: .3s; /*Чтобы свойства менялись плавно*/
  }

html {
    scroll-behavior: smooth; /*плавная прокрутка сайта при клике на ссылки-якоря*/
  }

.nav-list :hover { /*свойства элемента при наведении*/
    /* color: rgb(122, 17, 221); */
    cursor: pointer;
    transform: scale(1.3);
    transition: .3s;
    color: rgb(197, 94, 94);
}
